.dropdown {
    display: block;
    position: absolute;
}
.dropdown__item {
    background-color: white;
    border: 1px #969292 solid;
    color: black;
    width: 300px;
    padding: 10px;
    z-index: 99;
    cursor: pointer !important;
    border-radius: 5px;
    font-weight: 200;

}
.dropdown__item:hover {
    background-color: #a6a6a6;
}

.dropdown__item-active {
    background-color: greenyellow !important;
}

.dropdown__item-active:hover {
    background-color: #a6a6a6;
}
