.input{
    padding: 10px;
    width: 300px;
    border: 1px grey solid;
    border-radius: 5px;
    font-weight: 400;

}
form {
    position: relative;
}
button{
    padding: 10px;
    border: 1px grey solid;
    margin-left: 2px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: 400;
}